<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .mainfile {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }

    .container {
        display: flex;
    }

    select {
        width: 500px;
        height: 50px;
    }

    button {
        width: 100px;
        height: 50px;
    }
</style>

<body>
    <div class="mainfile">
        <div class="frontapp">
            <div id="map"></div>
        </div>
        <div class="backend">
            <!-- <svg></svg> -->
            <div class="container">
                <div class="select changer">
                    <select id="select1">
                    </select>
                </div>
                <div class="select1 changer">
                    <select id="select2">
                    </select>
                </div>
                <div class="sender changer">
                    <select name="" id="sender">
                        <option value="day">day</option>
                        <option value="month">month</option>
                        <option value="year">year</option>
                    </select>
                </div>
                <button id="button1">add</button>
                <button id="button2">submit</button>
            </div>
            <div class="container1">
                <div id="header"></div>
            </div>
            <div id="chart-container">
            </div>
        </div>
    </div>
</body>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://unpkg.com/topojson@3"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index1.css') }}">
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/index1.js') }}"></script>
</html>